.StoreCategoryBody {
  width: 100%;
  padding: 40px 0;
}
.StoreCategoryBody .inner {
  max-width: 1280px;
  margin: auto;
  padding: 20px 180px;
}
.StoreCategoryBody .inner .member {
  padding: 20px;
}
.StoreCategoryBody .inner .member h5 {
  font-size: 1.2rem;
  color: #8095a7;
  font-weight: 400;
}
.StoreCategoryBody .inner .member button {
  margin-top: 14px;
  width: 100%;
  height: 3rem;
  background-color: #ffd200;
  border-radius: 10px;
}
.StoreCategoryBody .inner .member button a {
  color: #fff;
}
.StoreCategoryBody .inner .non-member {
  padding: 20px;
}
.StoreCategoryBody .inner .non-member h5 {
  font-size: 1.2rem;
  color: #8095a7;
  font-weight: 400;
  margin-bottom: 10px;
}
.StoreCategoryBody .inner .non-member input {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0;
  width: 100%;
  height: 3rem;
  border: none;
  padding: 10px;
  border-bottom: 1px solid #9e9e9e;
  color: #8095a7;
}
.StoreCategoryBody .inner .non-member button {
  margin-top: 4px;
  width: 100%;
  height: 3rem;
  background-color: #ffd200;
  border-radius: 10px;
}
.StoreCategoryBody .inner .non-member button a {
  color: #fff;
}