.search-page {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-top: 70px;
}
.search-page .inner {
  max-width: 1280px;
  margin: auto;
}
.search-page .inner .search-bar {
  width: 100%;
}
.search-page .inner .search-bar .search {
  height: 40px;
  width: 380px;
  border-radius: 30px;
  padding: 10px 20px;
  display: block;
  margin: 60px auto;
  border: none;
  outline: 2px solid #ffd200;
}
.search-page .search-content {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #fff;
  padding: 60px 0;
}
.search-page .search-content .inner {
  max-width: 1280px;
}
.search-page .search-content .inner .no-result-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.search-page .search-content .inner .no-result-section .no-result {
  text-align: center;
}
@media (max-width: 500px) {
  .search-page .inner {
    width: 90%;
  }
}