.recommend-category {
    .inner {
        max-width: 1280px;
        margin: 20px auto;
        margin-top: 40px;
        margin-bottom: 80px;


        h2 {
            margin-bottom: 20px;
            font-size: 1.6rem;
            font-weight: bold;
            color: #222;
        }

        .recommend-category-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;

        }

        .category-card {
            width: 100%;
            border-radius: 10px;
            text-align: center;
            text-decoration: none;
            padding: 20px;
            transition: transform 0.2s;
            background-color: #fff;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
            position: relative;
            border: 2px solid #dcdcdc75;

            &:hover {
                transform: translateY(-4px);
            }

            img {
                position: absolute;
                bottom: 0;
                right: 14px;
                height:
                    40px;
            }

            p {
                font-size: 1.2rem;
                font-weight: 400;
                color: #222;

            }
        }
    }
}

@media (max-width : 500px) {
    .recommend-category {
        .inner {
            width: 90%;

            .recommend-category-list {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;

            }

            
        }
    }
}