@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 전체 요소에 GmarketSansMedium 폰트를 적용하되, .logo 클래스는 제외 */
body:not(.logo) {
    font-family: 'GmarketSansMedium';
}
html {
  scroll-behavior: smooth;
}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
